<?xml version="1.0" encoding="UTF-8"?>

<!--
Colors don't work on Windows!
phpunit.php enables colors for other OSs at runtime
-->
<phpunit bootstrap="tests/phpunit/bootstrap.php"
         colors="false"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         stopOnFailure="false"
         timeoutForSmallTests="10"
         timeoutForMediumTests="30"
         timeoutForLargeTests="60"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="all">
            <directory>tests/phpunit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
