.mw-sp-translate-table tr td:first-child {
	width: 280px;
}

.mw-sp-translate-settings label {
	/* Arbitary numbers picked to give prettier formatting */
	line-height: 188%;
	margin-right: 6px;
}

.justtranslated {
	font-weight: bold;
}

img.infoimage {
	/* Arbitary numbers picked to give prettier formatting */
	float: left;
    margin: 20px 18px 20px 5px;
}

#translatesvg-instructions {
	/* Arbitary formatting */
	padding-left: 10px;
}

#translatesvg-instructions p {
	/* Arbitary formatting */
    margin-left: 12px;
    margin-top: 29px;
}

#translatesvg-warning {
	/* Mimic fieldset formatting */
    border: 1px solid #2F6FAB;
    line-height: 1.5em;
    margin: 1em 0;
	clear: both;
    padding: 0 1em 1em;
	overflow: auto;
}

#translatesvg-warning p {
	/* Arbitary formatting */
	margin-top:23px;
}

img.warnimage {
	/* Arbitary formatting */
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}